/* Reset */
body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Container */
.container {
    max-width: 100%;
    padding: 0;
}

/* Layout */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background-color: #212529;
    color: #ffffff;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #adb5bd;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 15px;
}

.sidebar a:hover {
    background-color: #0d6efd;
    color: #ffffff;
    transform: translateX(5px);
}


.logout-box {
    margin-top: auto;
}

.logout-btn {
    display: block;
    text-align: center;
    background-color: #dc3545;
    color: #fff !important;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #bb2d3b;
}