{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">

                    <h3 class="text-center mb-4">Registration</h3>

                    <form action="{% url 'registration' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                       
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter full name" value="{{data.name}}">
                        </div>



                        <h5 style="color: red;">{{Emsg}}</h5>
                        
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="name@example.com" value="{{data.email}}">
                        </div>
                       <h5 style="color: red;">{{pmsg}}</h5>
                       
                        <div class="mb-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="tel" name="number" class="form-control" value="{{data.number}}">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="cpassword" class="form-control" >
                        </div>

                        
                         <div class="mb-3">
                            <label class="form-label">CPassword</label>
                            <input type="password" name="password" class="form-control">
                        </div>


                        <label>Qualification:</label><br>
                        <input type="checkbox" name="qualification" value="10th"> 10th<br>
                        <input type="checkbox" name="qualification" value="12th"> 12th<br>
                        <input type="checkbox" name="qualification" value="Graduate"> Graduate<br>
                        <input type="checkbox" name="qualification" value="Post Graduate"> Post Graduate<br><br>

                        <div class="mb-3">
                            <label class="form-label d-block">Gender</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="Male">
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="Female">
                                <label class="form-check-label">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="Other">
                                <label class="form-check-label">Other</label>
                            </div>
                        </div>

                        <!-- State -->
                        <div class="mb-4">
                            <label class="form-label">State</label>
                            <select name="state" class="form-select">
                                <option value="">Select State</option>
                                <option>Maharashtra</option>
                                <option>Gujarat</option>
                                <option>Rajasthan</option>
                                <option>Delhi</option>
                                <option>Karnataka</option>
                                <option>West Bengal</option>
                                <option>Bihar</option>
                            </select>
                        </div>

                        <!-- Submit -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}